@font-face {
  font-family: "Gotham Pro";
  src: url("./fonts/gothampro_light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("./fonts/gothampro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("./fonts/gothampro_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("./fonts/gothampro_black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  font-family: "Gotham Pro";
  overflow-x: hidden;
}
/* one section-start */
.section-one {
  position: relative;
  background-color: #a0968c;
  width: 100%;
  padding-top: 67px;
  padding-bottom: 90px;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.one-section-buttons {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.first-button {
  background-color: #bcb3aa;
  border: none;
  padding: 15px 20px;
  border-radius: 125px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
.dark {
  background-color: transparent;
  border: 1px solid #ffff;
}
.text-foto-wrapper {
  display: flex;
  gap: 0 20px;
}
/* .text-wrapper {
} */
.main-title {
  font-family: "Cormorant Garamond";
  font-size: clamp(45px, 8vw, 90px);
  font-weight: 400;
  line-height: 93px;
  padding: 64px 20px 30px 0px;
  color: #ffff;
  max-width: 630px;
}
.one-section-description-block {
  padding: 28px 20px 32px 20px;
  background-color: #716961;
  border-radius: 25px;
  color: #ffff;
  text-align: center;
  margin-bottom: 44px;
  max-width: 630px;
}
.title-one-section-description-block {
  margin-bottom: 15px;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
}
.paragraph-opne-section-description-block {
  font-size: 12px;
  line-height: 15px;
}
.price-timer-wrapper {
  display: flex;
  gap: 0 30px;
  align-items: flex-start;
}
.price-wrapper {
  position: relative;
  background-color: #00000099;
  padding: 22px 20px;
  border-radius: 101px;
  padding-right: 90px;
  font-size: 18px;
  color: #ffff;
}

.weight-span {
  font-weight: 700;
}
.price-wrapper::before {
  position: absolute;
  right: 0;
  top: 0;
  content: "-85%";
  font-size: 18px;
  font-weight: 700;
  width: 63px;
  border-radius: 50%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #90877e;
}
.timer-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 0 30px;
}
.timer {
  display: grid;
  place-items: center;
  font-size: 27px;
  font-weight: 400;
  color: #ffff;
  background-color: #222d40cc;
  border-radius: 6px;
  padding: 15px;
}
.last-button-in-one-section {
  display: inline-block;
  text-decoration: none;
  color: #ffff;
  margin-top: 32px;
  text-transform: uppercase;
  padding: 20px 75px;
  border-radius: 100px;
  background-color: #222d40;
  font-size: 20px;
  font-weight: 200;
  border: none;
}
.timer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px 0;
}
.text-span {
  color: white;
}
.sircle-wrapper {
  width: 213px;
  height: 213px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #90877e;
  padding: 15px;
}
.bonus-paragraph {
  color: #e2d5c8;
  font-size: 20px;
  font-weight: 400;
  font-family: "Cormorant Garamond";
}
.description-paragrah {
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffff;
  font-weight: 300;
}
.absolute-foto-wrapper {
  position: absolute;
  right: 0;
  top: 4%;
  width: 45%;
  height: 100%;
}
.absolute-foto-wrapper img {
  width: 100%;
  height: 96.5%;
  object-fit: contain;
}
.second {
  top: 30%;
}
.flex {
  display: flex;
  gap: 0 20px;
}
@media (max-width: 1000px) {
  .flex {
    flex-direction: column;
    align-items: center;
  }
  .main-title {
    width: 100%;
  }
  .one-section-buttons {
    justify-content: center;
  }
  .absolute-foto-wrapper {
    left: 50%;
  }
  .price-timer-wrapper {
    flex-direction: column;
    gap: 20px 0;
    align-items: center;
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .main-title {
    line-height: 55px;
    padding-top: 13px;
    padding-right: 0;
    padding-bottom: 15px;
    text-align: center;
  }
  .section-one {
    padding: 22px 0;
    z-index: 2;
  }
  .absolute-foto-wrapper {
    left: 10%;
    top: 27%;
    width: 90%;
    z-index: -1;
  }

  .last-button-in-one-section {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
  }
  .sircle-wrapper {
    position: absolute;
    align-items: flex-start;
    left: 0;
    text-align: left;
    top: 45%;
    background-color: transparent;
  }
  .description-paragrah {
    text-align: left;
  }
  .one-section-description-block {
    margin-bottom: 190px;
    position: relative;
    z-index: -1;
  }
  .second {
    z-index: -2;
  }
}
@media (max-width: 500px) {
  .absolute-foto-wrapper {
    top: 24%;
  }
}
/* one-section-end */
/* two-section-start */
.two-section {
  padding-top: 107px;
  padding-bottom: 116px;
}
.two-section-title {
  text-align: center;
  font-family: "Cormorant";
  font-size: clamp(40px, 8vw, 60px);
  margin-bottom: 87px;
  color: #222d40;
  font-weight: 400;
}
.who-this-cours-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px 35px;
}
.this-course-item {
  display: flex;
  gap: 0 28px;
  align-items: center;
}
.foto-this-course-wrapper {
  width: 199px;
}
.foto-this-course-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-title {
  font-size: 15px;
  margin-bottom: 23px;
  font-weight: 700;
  line-height: 21px;
  color: #222d40;
  flex-shrink: 1;
}
.item-paragraph {
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
}
@media (max-width: 600px) {
  .who-this-cours-wrapper {
    justify-content: start;
    gap: 44px 0;
  }
  .right {
    margin-left: auto;
    flex-direction: row-reverse;
  }

  .two-section {
    padding: 45px 0;
  }
}
/* two-section-start */
/* three-section-start */

.section-three {
  position: relative;
  width: 100%;
  background-color: #a0968c;
  width: 100%;
  padding-top: 76px;
  padding-bottom: 42px;
  z-index: 2;
}
.three-section-title {
  font-family: "Cormorant";
  font-size: clamp(40px, 8vw, 60px);
  color: #ffff;
  line-height: 62px;
  font-weight: 400;
}
.first-block-one-section {
  margin-top: 50px;
  max-width: 590px;
  padding: 34px;
  background-color: #e2d5c8;
  border-radius: 30px;
  font-weight: 400;
  color: #000000;
}
.title-first-block-one-section {
  font-family: "Cormorant Garamond";
  font-size: 25px;
  margin-bottom: 10px;
}
.span-first-block-section {
  font-size: 15px;
}
.paragraph-first-block-one-section {
  margin-top: 27px;
  font-size: 13px;
  line-height: 20px;
}
.second-block {
  margin-top: 6px;
  padding: 42px 33px;
  background-color: #90877e;
  color: #ffff;
}
.three-section-img-wrapper {
  position: absolute;
  width: 62%;
  height: 100%;
  right: 0px;
  top: -171px;
  z-index: -1;
}
.three-section-img-wrapper img {
  width: 100%;
  height: 123%;
  object-fit: cover;
}
/* three-section-end */
/* section-four-start*/
.section-four {
  padding-top: 98px;
  padding-bottom: 103px;
  background-color: #222d40;
}
.four-section-title {
  text-align: center;
  font-family: "Cormorant";
  margin-bottom: 61px;
  font-size: clamp(40px, 8vw, 60px);
  color: #e2d5c8;
  font-weight: 300;
}
.four-section-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 17px 4px;
}
.four-section-item {
  max-width: 355px;
}
.modul-block-wrapper {
  display: flex;
  gap: 0 10px;
  margin-bottom: 10px;
}
.modul-block {
  padding: 13px 20px 13px 13px;
  font-size: 12px;
  color: #ffff;
  font-size: 12px;
  border-radius: 100px;
  background-color: #bcb3aa;
}
.tranparent {
  background-color: transparent;
  border: 1px solid #ffff;
  padding: 13px 18px;
}
.white-block {
  background-color: #ffff;
  border-radius: 30px;
  padding: 29px 19px 35px 21px;
  display: flex;
  flex-direction: column;
  gap: 14px 0;
  height: 480px;
}
.lesson-text-block {
  display: flex;
  align-items: flex-start;
  gap: 0 23px;
}
.lesson {
  padding: 13px;
  border-radius: 100px;
  border: 1px solid #222d40;
  color: #222d40;
  font-size: 12px;
}
.title-text-lesson {
  font-size: 13px;
  line-height: 25px;
  font-size: 13px;
}
.strong {
  font-weight: 600;
}
@media (max-width: 760px) {
  .white-block {
    height: max-content;
  }
  .four-section-item {
    max-width: 100%;
  }
}
/* section-four-end*/
/* five-section-start */
.section-five {
  padding-top: 141px;
  padding-bottom: 100px;
}

.five-section-wrapper {
  display: flex;
  gap: 0 100px;
}
.five-section-title {
  font-family: "Cormorant";
  font-size: clamp(40px, 8vw, 60px);
  font-weight: 300;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 58px;
  grid-row-gap: 65px;
}
.grid-item {
  display: flex;
  gap: 0 31px;
}
.grid-img {
  width: 25px;
  height: 25px;
}
.grid-description {
  font-size: 13px;
  line-height: 21px;
}
@media (max-width: 1000px) {
  .five-section-wrapper {
    flex-wrap: wrap;
    gap: 0 0;
  }
  .grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 0;
  }
  .grid-item {
    padding-top: 44px;
    padding-bottom: 27px;
    border-bottom: 1px solid #222d4080;
    align-items: center;
  }
  .section-five {
    padding-top: 58px;
    padding-bottom: 79px;
  }
}
/* five-section-end */
/* six-section-start */
.six-section {
  padding-top: 98px;
  padding-bottom: 115px;
  background-color: #a0968c;
}
.six-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
  margin-top: 67px;
}
.six-section-item {
  display: flex;
  align-items: flex-start;
  gap: 0 28px;
  color: #ffff;
  max-width: 330px;
}
.number-block {
  position: relative;
  z-index: 2;
  font-family: "Cormorant";
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #90877e;
  flex-shrink: 0;
}
.six-sectio-description {
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
}
.dashed {
  display: none;
}
@media (max-width: 800px) {
  .six-section-wrapper {
    justify-content: center;
    z-index: 2;
  }
  .six-section {
    padding-top: 54px;
    padding-bottom: 61px;
  }
  .center {
    text-align: center;
  }
}
@media (max-width: 500px) {
  /* .six-section-wrapper {
    position: relative;
  } */
  .six-section-item {
    position: relative;
  }
  .dashed {
    display: block;
    height: 219%;
    position: absolute;
    top: 0;
    left: 22px;
    border: 1px dashed #e2d5c8;
    z-index: 1;
  }
  .last-dashed {
    height: 100%;
  }
}
/* six-section-end */
/* seven-section-start */
.seven-section {
  padding-top: 75px;
  padding-bottom: 121px;
  background-color: #222d40;
}
.seven-section-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 24px 86px;
}
.seven-section-title {
  font-family: "Cormorant";
  font-size: clamp(25px, 8vw, 40px);
  font-weight: 300;
  color: rgba(226, 213, 200, 1);
  margin-bottom: 23px;
}
.text-wrapper-seven-cection {
  max-width: 380px;
}

.description-seven-section {
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
}
.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.last-timer {
  background-color: rgba(44, 60, 87, 1);
}
.link-seven-section {
  background-color: rgba(188, 179, 170, 1);
}
@media (max-width: 850px) {
  .seven-section-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-wrapper-seven-cection {
    text-align: center;
    max-width: 100%;
  }
  .center-content {
    flex-direction: column-reverse;
    gap: 26px 0;
  }
  .seven-section {
    padding-top: 64px;
    padding-bottom: 60px;
  }
  .seven-section-title {
    text-align: center;
  }
}
/* seven-section-end */
/* eight-section-start */
.eight-section {
  position: relative;
  padding-top: 98px;
  /* padding-bottom: 127px; */
}
.small-botton {
  margin-bottom: 78px;
}
.six-section-img-wrapper {
  position: absolute;
  right: 0;
  top: -47px;
  width: 28%;
  height: 80%;
}
.right-img {
  width: 100%;
  height: 100%;
}
.left-img {
  width: 100%;
  height: 100%;
}
.six-section-img-wrapper-bottom-img {
  position: absolute;
  left: 0%;
  bottom: -20%;
  width: 30%;
  height: 60%;
}
.eight-section-wrapper {
  display: flex;
  gap: 0px 20px;
}
.eight-section-item {
  position: relative;
  height: 383px;
  background-color: rgba(248, 248, 248, 1);
  border-radius: 10px;
  padding: 82px 30px 120px 50px;
  font-size: 13px;
  color: rgba(0, 0, 0, 1);
}
.eight-section-item::after {
  position: absolute;
  content: "";
  width: 86px;
  height: 67px;
  left: 28px;
  top: 28px;
  background-image: url("./images/Banner.png");
}
.eight-section-description {
  font-weight: 400;
  line-height: 21px;
}
.weight-description {
  margin-top: 29px;
  font-weight: 600;
}
.swiper {
  display: none;
}

@media (max-width: 850px) {
  .eight-section-wrapper {
    display: none;
  }
  .swiper {
    display: block;
    position: relative;
  }
  .swiper-button-prev::after {
    content: "";
    font-size: 0;
  }
  .swiper-button-next::after {
    content: "";
    font-size: 0;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 80%;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 1px solid #000000;
  }
  .swiper-button-next {
    right: 40%;
    background-image: url("./images/Vector\ 2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
  }
  .swiper-button-prev {
    left: 40%;
    background-image: url("./images/Vector\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
  }
  .six-section-img-wrapper-bottom-img {
    display: none;
  }
  .eight-section-item {
    width: 90%;
    padding-bottom: 46px;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* eight-section-end */
